body{
    background-image: linear-gradient(rgb(238, 230, 230),black);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;   
}
label,h2,p{
    -webkit-text-fill-color: white;
}
button{
    border-radius: 25% 25% 25% 25%;
}
button:hover{
    transform:scale(1.20);
    -webkit-text-fill-color: white;
    background-color:whitesmoke;
}